#logo {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

#head {
    display: inline;
    padding-left: 30%;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
}

body, html {
    margin: 0;
    height: 93%;
    width: 99.5%;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.menujq {
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: -18px;
    height: 50px;
    width: 99.9%;
    margin-left: 0x;
    background-color: #e1ecf3;
    float: top;
}

.menujq ul {
    list-style: none;
    text-align: left;
}

#menu_option_bar {
    margin-left: -37px;
}

.menujq a {
    text-decoration: none;
    padding: 10px 10px 10px 0px;
    display: block;
}

#menu_option_bar li>a:hover {
    color: #dd2a2a;
    background-color: #a6c0dd3a;
}

#menu_option_bar>li {
    float: left;
    text-align: left;
    cursor: pointer;
}

#menu_option_bar>li {
    float: left;
    text-align: left;
    cursor: pointer;
}

#menu_option_bar>li>ul {
    display: none;
    padding-left: 1px;
    position: absolute;
    z-index: 10;
}

/* Sangrado y segundo color para sub-opciones */

.menujq ul ul {
    display: block;
    background-color: #b9d8d4;
    text-decoration: none;
}

#menu_plantilla>ul {
    display: none;
}

#menu_plantilla {
    background-image: url(../img/rigth_arrow.png);
    background-size: 15px;
    background-position: 135px 16px;
    background-repeat: no-repeat;
    border-bottom: dashed 1px black;
}

#menu_plantilla:hover {
    background-image: url(../img/rigth_arrow_blue.png);
    background-size: 15px;
    background-position: 135px 16px;
    background-repeat: no-repeat;
}

#menu_plantilla:hover>ul {
    margin-left: 155px;
    position: absolute;
    display: block;
    height: 204px;
    width: 125px;
    background-color: #9fd6d6;
    padding-left: 8px;
    margin-top: -45px;
}

#minimal {
    border-bottom: dashed 1px black;
}

#anillo {
    border-bottom: dashed 1px black;
}

#single {
    border-bottom: dashed 1px black;
}

#tree {
    border-bottom: dashed 1px black;
}

#menu_exportar>ul {
    display: none;
}

#menu_exportar {
    background-image: url(../img/rigth_arrow.png);
    background-size: 15px;
    background-position: 135px 16px;
    background-repeat: no-repeat;
    border-bottom: dashed 1px black;
}

#menu_exportar:hover {
    background-image: url(../img/rigth_arrow_blue.png);
    background-size: 15px;
    background-position: 135px 16px;
    background-repeat: no-repeat;
}

#menu_exportar:hover>ul {
    margin-left: 155px;
    position: absolute;
    display: block;
    height: 135px;
    width: 100px;
    background-color: #9fd6d6;
    padding-left: 8px;
    margin-top: -45px;
}

#python {
    border-bottom: dashed 1px black;
}

#json {
    border-bottom: dashed 1px black;
}

#archivo {
    width: 90px;
    z-index: 10;
}

#menu_archivo {
    width: 155px;
    padding-left: -150px;
    text-align: left;
}

#nuevo {
    background-image: url(../img/new_document.png);
    background-size: 25px;
    background-position: 3px 12px;
    background-repeat: no-repeat;
    padding-left: 30px;
    border-bottom: dashed 1px black;
}

#guardar {
    background-image: url(../img/save.png);
    background-size: 20px;
    background-position: 3px 12px;
    background-repeat: no-repeat;
    padding-left: 30px;
    border-bottom: dashed 1px black;
}

#abrir {
    background-image: url(../img/open.png);
    background-size: 20px;
    background-position: 3px 12px;
    background-repeat: no-repeat;
    padding-left: 30px;
    border-bottom: dashed 1px black;
}

#salir {
    background-image: url(../img/out.png);
    background-size: 25px;
    background-position: 3px 9px;
    background-repeat: no-repeat;
    padding-left: 30px;
}

#edicion {
    width: 80px;
    padding-left: 1px;
    z-index: 10;
}

#menu_edicion {
    width: 200px;
}

#seleccion {
    background-image: url(../img/selection.png);
    background-size: 25px;
    background-position: 3px 12px;
    background-repeat: no-repeat;
    padding-left: 30px;
    border-bottom: dashed 1px black;
}

#deshacer {
    background-image: url(../img/undo.png);
    background-size: 20px;
    background-position: 3px 12px;
    background-repeat: no-repeat;
    padding-left: 30px;
    border-bottom: dashed 1px black;
}

#rehacer {
    background-image: url(../img/redo.png);
    background-size: 20px;
    background-position: 3px 12px;
    background-repeat: no-repeat;
    padding-left: 30px;
    border-bottom: dashed 1px black;
}

#copiar {
    background-image: url(../img/copy.png);
    background-size: 20px;
    background-position: 3px 12px;
    background-repeat: no-repeat;
    padding-left: 30px;
    border-bottom: dashed 1px black;
}

#pegar {
    background-image: url(../img/paste.png);
    background-size: 23px;
    background-position: 3px 12px;
    background-repeat: no-repeat;
    padding-left: 30px;
}

#cortar {
    background-image: url(../img/cut.png);
    background-size: 23px;
    background-position: 3px 12px;
    background-repeat: no-repeat;
    padding-left: 30px;
    border-bottom: dashed 1px black;
}

#emulacion {
    width: 110px;
}

#menu_emulacion {
    width: 250px;
}

#iniciarE {
    background-image: url(../img/play.png);
    background-size: 23px;
    background-position: 3px 12px;
    background-repeat: no-repeat;
    padding-left: 30px;
    border-bottom: dashed 1px black;
}

#detenerE {
    background-image: url(../img/stop.png);
    background-size: 25px;
    background-position: 3px 10px;
    background-repeat: no-repeat;
    padding-left: 30px;
    border-bottom: dashed 1px black;
}

#wireshark {
    background-image: url(../img/analitica.png);
    background-size: 25px;
    background-position: 3px 10px;
    background-repeat: no-repeat;
    padding-left: 30px;
    border-bottom: dashed 1px black;
}

#genTraffic>ul {
    display: none;
}

#genTraffic {
    background-image: url(../img/rigth_arrow.png);
    background-size: 15px;
    background-position: 220px 16px;
    background-repeat: no-repeat;
    padding-left: 5px;
}

#genTraffic:hover {
    background-image: url(../img/rigth_arrow_blue.png);
    background-size: 15px;
    background-position: 220px 16px;
    background-repeat: no-repeat;
}

#genTraffic:hover>ul {
    margin-left: 245px;
    position: absolute;
    display: block;
    height: 140px;
    width: 240px;
    background-color: #9fd6d6;
    padding-left: 8px;
    margin-top: -45px;
}

#genXtreme{
    background-image: url(../img/check.png);
    background-size: 25px;
    background-position: 3px 12px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border-bottom: dashed 1px black;
}

#genGlobal{
    background-image: url(../img/redes.png);
    background-size: 25px;
    background-position: 3px 12px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border-bottom: dashed 1px black;
}

#genSpecific{
    background-image: url(../img/computadora.png);
    background-size: 25px;
    background-position: 3px 12px;
    background-repeat: no-repeat;
    padding-left: 40px;
}
#ayuda {
    width: 100px;
}

#menu_ayuda {
    width: 200px;
    text-align: left;
}

#doc {
    background-image: url(../img/book.png);
    background-size: 23px;
    background-position: 3px 12px;
    background-repeat: no-repeat;
    padding-left: 30px;
    border-bottom: dashed 1px black;
}

#guie {
    background-image: url(../img/guie.png);
    background-size: 25px;
    background-position: 3px 12px;
    background-repeat: no-repeat;
    padding-left: 30px;
    border-bottom: dashed 1px black;
}

#about {
    background-image: url(../img/about.png);
    background-size: 22px;
    background-position: 3px 12px;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.emulator {
    width: 100%;
    height: 94.8%;
}

.tool_bar {
    background-color: #ffffff;
    height: 43px;
    margin-bottom: 3px;
    padding-top: 0px;
    margin-top: 0px;
    width: 100%;
    border: 1px solid #009688;
}

.tool_bar ul {
    list-style: none;
    float: left;
    margin-top: 4px;
    padding-left: 7px;
    width: 100%;
    height: 10px;
}

.tool_bar ul li {
    background-color: #E1F3F1;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1.5px solid #009688;
    padding: 5px;
    border-radius: 25%;
}

.tool_bar ul li:hover {
    border: 2px solid #2e42f7;
    background-color: #b4fbf3;
}

.tool_bar ul li:active {
    border: 2px solid #2e42f7;
    background-color: #009688;
}

.tool_bar ul li::after {
    border: 2px solid #1c911cad;
    background-color: #350a0b75;
}

.wireShark, .stop, .generatorEspecifico, .generatorGlobal, .generator , .opendayligth , .graphic {
    pointer-events: none;
}

.tool_panel {
    float: left;
    background-color: #ffffff;
    height: 88.5%;
    width: 80px;
    border: 1px solid #009688;
    padding-top: 5px;
}

.btn {
    background-color: #E1F3F1;
    /* padding: 2px 2px 2px 2px;*/
    height: 45px;
    width: 45px;
    margin-top: 12px;
    margin-left: 15px;
    margin-bottom: 7px;
    border: 2px solid #009688;
    border-radius: 12px;
    outline: none;
}

.btn:hover {
    background-color: #b4fbf3;
    ;
    border: solid 2px #2e42f7;
}

#cursor {
    margin-top: 17px;
}

#cursor:active {
    background-color: #acfc93;
    border: solid 2px #009688;
}

.canvas_panel {
    margin-left: 5.9%;
    /*padding-left: 85px;*/
    /*width="1050" , height="600"*/
    overflow-x: scroll;
    overflow-y: scroll;
    height: 89.3%;
    width: 93%;
}

#canvas {
    display: block;
    border: solid 2px #004696;
}

footer {
    padding-top: 6px;
    background-color: rgb(119, 23, 14);
    padding-left: 1%;
    padding-right: 20px;
    color: rgb(252, 249, 249);
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    width: 98.6%;
}