#logo {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}
#head{
    display: inline;
    padding-left: 30%;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
}

body, html {
    
    margin: 0;
    height: 93%;
    width: 99.5%;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.menu_bar {
    background-color: #E1F3F1;
    height: 35px;
    margin-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    width: 100%;
    border: 1px solid #E1F3F1;
}

.menu_bar ul {
    list-style: none;
    float: left;
    margin-top: 5px;
    padding-left: 3px;
    width: 100%;
    height: 10px;
}

.menu_bar ul li {
    float: left;
    margin-top: -3px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 15%;
}

.menu_bar ul li a {
    color: #009688;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
}

.menu_bar ul li a:hover {
    background-color: #b4fbf3;
    cursor: pointer;
    text-decoration: underline;
}

.tool_bar {
    background-color: #ffffff;
    height: 43px;
    margin-bottom: 3px;
    padding-top: 0px;
    margin-top: 0px;
    width: 100%;
    border: 1px solid #009688;
}

.tool_bar ul {
    list-style: none;
    float: left;
    margin-top: 4px;
    padding-left: 7px;
    width: 100%;
    height: 10px;
}

.tool_bar ul li {
    background-color:  #E1F3F1;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1.5px solid #009688;
    padding: 5px;
    border-radius: 25%;
}

.tool_bar ul li:hover {
    border: 2px solid #2e42f7;
    background-color: #b4fbf3;
}

.tool_bar ul li:active {
    border: 2px solid #2e42f7;
    background-color: #009688;
}

.tool_bar ul li::after {
    border: 2px solid #1c911cad;
    background-color: #350a0b75;
}

.tool_panel {
    float: left;
    background-color: #ffffff;
    height: 83.9%;
    width: 80px;
    border: 1px solid #009688;
    padding-top: 35px;    
}

.btn {
    background-color: #E1F3F1;
   /* padding: 2px 2px 2px 2px;*/
    height: 45px;
    width: 45px;
    margin-top: 12px;
    margin-left: 15px;
    margin-bottom: 7px;
    border: 2px solid #009688;
    border-radius: 12px;
}

.btn:hover {
    background-color: #b4fbf3;;
    border: solid 2px #2e42f7;
}

#cursor {
    margin-top: 17px;
}

#cursor:active {
    background-color: #acfc93;
    border: solid 2px #009688;
    
}



.canvas_panel {
    margin-left: 85px;
    /*padding-left: 85px;*/
    /*width="1050" , height="600"*/
    overflow-x: scroll;
    overflow-y: scroll;
    height:  89.3%;
    width: 93.5%;
}

#canvas {
    display: block;
    border: solid 2px #009688 ;
    
}


footer {
    padding-top: 6px;
    background-color: #009688;
    padding-left: 1%;
    padding-right: 20px;
    color: rgb(252, 249, 249);
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
}
