/* Fancy Box Parameters Switch */

/* Contenedor del Label Principal */

.divFancySwitch {
    width: 500px;
    height: 620px;
    font-family: 'Quicksand', sans-serif;
}

#containerParameterFancySwitch {
    width: auto;
    height: 40px;
    font-size: 25px;
}

#inputInfoSwitch, #imgSw, #labelFancySwitch {
    display: inline;
}

#inputInfoSwitch {
    margin-bottom: 10px;
    margin-left: 5px;
}

#imgSw {
    margin-left: 110px;
    padding-top: 5px;
}

#labelFancySwitch {
    margin-left: 3px;
    font-size: 33px;
}

#containerInsertSwitch {
    height: calc(70vh - 100px);
}

#containerFancyFormSwitch {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}

/* Contenedor Tipo de Switch */

#containerTypeSwitch {
    padding-left: 10px;
    margin-top: 3px;
}

#optionTypeFancySwitch {
    height: 25px;
    width: 60%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    margin-top: 20px;
    /*appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;*/
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-left: 96px;
}

/* Contenedor STP Switch*/

#containerSTPFancySwitch {
    padding-left: 40px;
    margin-top: 15px;
}

#labelFancySTPPriority {
    margin-left: 55px;
}

#inputFancySTPPriority {
    height: 25px;
    width: 37%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
}

/* Contenedor IP Switch */

#containerIPSwitch {
    margin-top: 15px;
    padding-left: 12px;
}

#inputFancyIPSwitch {
    height: 25px;
    width: 59%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-left: 118px;
}

/* Contenedor DPCTL Port Switch */

#containerDPCTLPort {
    margin-top: 15px;
    padding-left: 10px;
}

#inputFancyDPCTLPort {
    height: 25px;
    width: 59%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-left: 53px;
}

/* Contenedor de Protocoloes Switch */

#containerProtocolSwitch {
    margin-top: 15px;
    padding-left: 10px;
}

#optionProtocolFancySwitch {
    height: 25px;
    width: 59%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    /*appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;*/
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-left: 74px;
}

/* Contenedor de Data Path del Switch */

#containerDataPath {
    margin-top: 15px;
    padding-left: 10px;
}

#optionDataPathFancySwitch {
    height: 25px;
    width: 59%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    /*appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;*/
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-left: 65px;
}

/* Contenedor Data Path Id Switch */

#containerDataPathID {
    margin-top: 15px;
    padding-left: 10px;
}

#inputFancyDataPathIDSwitch {
    height: 25px;
    width: 59%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-left: 46px;
}

/* Contenedor Data Path Arguments Switch */

#containerOfDataPathArguments {
    margin-top: 15px;
    padding-left: 10px;
}

#inputFancyOfDataPathArgsSwitch {
    height: 25px;
    width: 59%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-left: 30px;
}

/* Contenedor Fail Mode Switch */

#FailMode {
    margin-top: 15px;
    padding-left: 10px;
}

#optionFailModeFancySwitch {
    height: 25px;
    width: 59%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    /*appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;*/
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-left: 13px;
}

/* Contenedor Elecciones Check Box */

#containerCheckBoxOne {
    margin-top: 15px;
    padding-left: 18px;
}

#InBandFancySwitch {
    margin-left: 60px;
}

#InNameSpaceFancySwitch {
    margin-left: 50px;
}

/* Contenedor Elecciones Check Box 2*/

#containerCheckBoxTwo {
    margin-top: 15px;
    padding-left: 18px;
}

#BatchFancySwitch {
    margin-left: 60px;
}

#VerboseFancySwitch {
    margin-left: 60px;
}

/* Contenedor Adicionar Opciones al Switch*/

#containerAddOption {
    margin-top: 15px;
    padding-left: 10px;
}

#inputFancyAdditionalSwOptionsScriptsSwitch {
    height: 25px;
    width: 47%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

/* Contenedor StartUp Script Switch */

#containerStartUp {
    margin-top: 25px;
    padding-left: 10px;
}

#inputFancyStartScriptsSwitch {
    height: 25px;
    width: 59%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-left: 38px;
}

/* Contenedor ShutDown Scripts Switch*/

#containerShutDown {
    margin-top: 15px;
    padding-left: 10px;
}

#inputFancyShutDownScriptsSwitch {
    height: 25px;
    width: 59%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-left: 18px;
}

/* Contenedor de los Botones del Formulario */

#containerFancyButtonFormSwitch {
    margin-top: 35px;
    text-align: right;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}

#CancelarButtonFancySwitch {
    border: #b8b9bb solid 2px;
    outline: none;
    height: 22px;
    width: 25%;
    border-radius: 15px;
    background-color: white;
    color: #2AC176;
}

#CancelarButtonFancySwitch:focus {
    border: #2AC176 solid 2px;
    outline: none;
    background-color: #2AC176;
    color: white;
}

#GuardarButtonFancySwitch {
    border: #b8b9bb solid 2px;
    outline: none;
    height: 22px;
    width: 25%;
    border-radius: 15px;
    background-color: white;
    color: #2AC176;
}

#GuardarButtonFancySwitch:focus {
    border: #2AC176 solid 2px;
    outline: none;
    background-color: #2AC176;
    color: white;
}

/*-------------------------------------------------------------*/

/* Fancy Box Insert Controller */

/* Contenedor Principal */

#containerInsertController {
    height: 250px;
    width: 350px;
    font-family: 'Quicksand', sans-serif;
}

#containerParameterFancyController {
    height: 50px;
    width: 350px;
    padding-top: -30px;
    margin-bottom: 30px;
}

#inputInfoController, #imgControl, #labelFancyController {
    display: inline;
}

#imgControl {
    margin-left: 35px;
}

#labelFancyController {
    font-size: 25px;
    margin-left: 5px;
}

#containerTypeController {
    margin-top: 10px;
    padding-left: 5px;
}

#optionTypeFancyController {
    height: 25px;
    width: 50%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-left: 108px;
}

#containerIPController {
    margin-top: 10px;
    padding-left: 5px;
}

#inputFancyIpController {
    height: 25px;
    width: 50%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-left: 127px;
}

#containerPortController {
    margin-top: 10px;
    padding-left: 5px;
}

#inputFancyPuertoController {
    height: 25px;
    width: 50%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-left: 92px;
}

#containerProtocolController {
    margin-top: 10px;
    padding-left: 3px;
}

#optionProtocolFancyController {
    height: 25px;
    width: 50%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-left: 70px;
}

#containerButtonController {
    margin-top: 40px;
    text-align: right;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}

#CancelarButtonFancyController {
    border: #b8b9bb solid 2px;
    outline: none;
    height: 22px;
    width: 25%;
    border-radius: 15px;
    background-color: white;
    color: #2AC176;
}

#CancelarButtonFancyController:focus {
    border: #2AC176 solid 2px;
    outline: none;
    background-color: #2AC176;
    color: white;
}

#GuardarButtonFancyController {
    border: #b8b9bb solid 2px;
    outline: none;
    height: 22px;
    width: 25%;
    border-radius: 15px;
    background-color: white;
    color: #2AC176;
}

#GuardarButtonFancyController:focus {
    border: #2AC176 solid 2px;
    outline: none;
    background-color: #2AC176;
    color: white;
}

/*-------------------------------------------------------------*/

/* Fancy Box Insert Port */

#containerInsertPort {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}

#containerParameterFancyPort {
    height: 35px;
    font-size: 25px;
}

#imgPort {
    margin-left: 100px;
    text-align: center;
}

#inputInfoPort {
    margin-left: 5px;
}

#containerFormPort {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 15px;
}

#labelFancyIPPort {
    font-size: 20px;
    margin-left: 3px;
}

#inputFancyIPPort {
    height: 100px;
    width: 300px;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-left: 0;
    background-color: rgb(240, 236, 236);
}

/* Contenedor de los Botones del Formulario */

#containerFancyButtonFormPort {
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    margin-left: 70px;
}

#CancelarButtonFancyPort {
    border: #b8b9bb solid 2px;
    outline: none;
    height: 22px;
    width: 40%;
    border-radius: 15px;
    background-color: white;
    color: #2AC176;
}

#CancelarButtonFancyPort:focus {
    border: #2AC176 solid 2px;
    outline: none;
    background-color: #2AC176;
    color: white;
}

#GuardarButtonFancyPort {
    border: #b8b9bb solid 2px;
    outline: none;
    height: 22px;
    width: 40%;
    border-radius: 15px;
    background-color: white;
    color: #2AC176;
}

#GuardarButtonFancyPort:focus {
    border: #2AC176 solid 2px;
    outline: none;
    background-color: #2AC176;
    color: white;
}

/*-------------------------------------------------------------*/

/* Fancy Box Insert Link */

/* Contenedor visible Fancy Insert Link */

#containerInsertLink {
    width: 400px;
    height: 280px;
}

#containerParameterFancyLink {
    text-align: center;
    background-image: url(../img/);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 85px -2px;
    height: 35px;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
}

#divFancyFormLink {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}

#containerBandWidthLink {
    margin-top: 10px;
    padding-left: 3px;
}

#inputFancyBandWidthLink {
    height: 25px;
    width: 50%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    margin-left: 20px;
}

#containerDelayLink {
    margin-top: 10px;
    padding-left: 3px;
}

#inputFancyDelayLink {
    height: 25px;
    width: 50%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    margin-left: 80px;
}

#containerJitterLink {
    margin-top: 10px;
    padding-left: 3px;
}

#inputFancyJitterLink {
    height: 25px;
    width: 50%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    margin-left: 99px;
}

#containerMaxQueueLink {
    margin-top: 10px;
    padding-left: 3px;
}

#inputFancyMaxQueueLink {
    height: 25px;
    width: 50%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    margin-left: 45px;
}

#spanBandMaxQueueLink {
    font-size: 13px;
}

#containerLossLink {
    margin-top: 10px;
    padding-left: 3px;
}

#inputFancyLossLink {
    height: 25px;
    width: 50%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    margin-left: 73px;
}

/* Contenedor de los Botones del Formulario */

#containerButtonLink {
    margin-top: 40px;
    text-align: right;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}

#CancelarButtonFancyLink {
    border: #b8b9bb solid 2px;
    outline: none;
    height: 22px;
    width: 25%;
    border-radius: 15px;
    background-color: white;
    color: #2AC176;
}

#CancelarButtonFancyLink:focus {
    border: #2AC176 solid 2px;
    outline: none;
    background-color: #2AC176;
    color: white;
}

#GuardarButtonFancyLink {
    border: #b8b9bb solid 2px;
    outline: none;
    height: 22px;
    width: 25%;
    border-radius: 15px;
    background-color: white;
    color: #2AC176;
}

#GuardarButtonFancyLink:focus {
    border: #2AC176 solid 2px;
    outline: none;
    background-color: #2AC176;
    color: white;
}

/*-------------------------------------------------------------*/

/* Fancy Box Insert Label */

#containerInsertLabel {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}

#containerParameterFancyLabel {
    height: 35px;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
}

#inputInfoLabel {
    margin-left: 3px;
}

#imgLabel {
    margin-left: 130px;
}

#containerFormLabel {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 15px;
}

#labelFancyLabel {
    font-size: 20px;
    margin-left: 3px;
}

#inputFancyLabel {
    height: 100px;
    width: 300px;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-left: 0;
    background-color: rgb(240, 236, 236);
}

/* Contenedor de los Botones del Formulario */

#containerFancyButtonFormLabel {
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    margin-left: 70px;
}

#CancelarButtonFancyLabel {
    border: #b8b9bb solid 2px;
    outline: none;
    height: 22px;
    width: 40%;
    border-radius: 15px;
    background-color: white;
    color: #2AC176;
}

#CancelarButtonFancyLabel:focus {
    border: #2AC176 solid 2px;
    outline: none;
    background-color: #2AC176;
    color: white;
}

#GuardarButtonFancyLabel {
    border: #b8b9bb solid 2px;
    outline: none;
    height: 22px;
    width: 40%;
    border-radius: 15px;
    background-color: white;
    color: #2AC176;
}

#GuardarButtonFancyLabel:focus {
    border: #2AC176 solid 2px;
    outline: none;
    background-color: #2AC176;
    color: white;
}

/*-------------------------------------------------------------*/

/* Fancy Box Insert Host */

/* Contenedor visible Fancy Insert Host*/

#containerInsertHost {
    width: 380px;
    height: 200px;
    font-family: 'Quicksand', sans-serif;
}

#containerParameterFancyHost {
    height: 35px;
    font-size: 25px;
}

#labelFancyHost, #imgHost, #inputInfoHost {
    display: inline;
}

#imgHost {
    margin-left: 105px;
    margin-top: 10px;
}

#labelFancyHost {
    text-align: center;
}

#containerFormHost {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 20px;
}

#containerIPHost {
    margin-top: 10px;
    padding-left: 3px;
}

#inputFancyIPHost {
    height: 25px;
    width: 50%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-left: 45px;
}

#inputFancyIPHost:hover {
    border-bottom: #14ace7 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#inputFancyIPHost:focus {
    border-bottom: #2a46c1 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

/* Contenedor Sheduler Host */

#containerShedulerHost {
    margin-top: 3px;
    padding-left: 3px;
}

#optionShedulerFancyHost {
    height: 25px;
    width: 50%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    /*appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;*/
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-left: 96px;
}

#optionShedulerFancyHost:hover {
    border-bottom: #14ace7 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#optionShedulerFancyHost:focus {
    border-bottom: #2a46c1 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

/*#arrowProtocolFancyHost {
    position: absolute;
    right: 65px;
    top: 120px;
    width: 10px;
    height: 10px;
    display: block;
    border-left: 2px solid #2AC176;
    border-bottom: 2px solid #2AC176;
    transform: rotate(-45deg);
    transition: all 0.25s ease;
}

#arrowProtocolFancyHost:hover {
    margin-top: 2px;
    border-bottom: #2a46c1 solid 2px;
    border-left: #2a46c1 solid 2px;
}*/

/* Contenedor CPU Utilization Limit Host */

#containerCPULimitHost {
    margin-top: 3px;
    padding-left: 3px;
}

#inputFancyCpuLimitHost {
    height: 25px;
    width: 50%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-left: 85px;
}

#inputFancyCpuLimitHost:focus {
    border-bottom: #2a46c1 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#inputFancyCpuLimitHost:hover {
    border-bottom: #14ace7 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

/* Contenedor CPU Cores Host */

#containerCPUCoresHost {
    margin-top: 3px;
    padding-left: 3px;
}

#inputFancyCPUCoresHost {
    height: 25px;
    width: 50%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-left: 75px;
}

#inputFancyCPUCoresHost:focus {
    border-bottom: #2a46c1 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#inputFancyCPUCoresHost:hover {
    border-bottom: #14ace7 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#containerStartUp {
    margin-top: 3px;
    padding-left: 3px;
}

#inputFancyStartScriptsHost {
    height: 25px;
    width: 50%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-left: 70px;
}

#inputFancyStartScriptsHost:focus {
    border-bottom: #2a46c1 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#inputFancyStartScriptsHost:hover {
    border-bottom: #2a46c1 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#containerShutDown {
    margin-top: 3px;
    padding-left: 3px;
}

#inputFancyShutDownScriptsHost {
    height: 25px;
    width: 50%;
    letter-spacing: 2px;
    border-bottom: #2AC176 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-left: 50px;
}

#inputFancyShutDownScriptsHost:focus {
    border-bottom: #2a46c1 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#inputFancyShutDownScriptsHost:hover {
    border-bottom: #2a46c1 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

/* Contenedor de los Botones del Formulario */

#containerFancyButtonFormHost {
    margin-top: 30px;
    text-align: right;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}

#CancelarButtonFancyHost {
    border: #b8b9bb solid 2px;
    outline: none;
    height: 22px;
    width: 25%;
    border-radius: 15px;
    background-color: white;
    color: #2AC176;
}

#CancelarButtonFancyHost:focus {
    border: #2AC176 solid 2px;
    outline: none;
    background-color: #2AC176;
    color: white;
}

#GuardarButtonFancyHost {
    border: #b8b9bb solid 2px;
    outline: none;
    height: 22px;
    width: 25%;
    border-radius: 15px;
    background-color: white;
    color: #2AC176;
}

#GuardarButtonFancyHost:focus {
    border: #2AC176 solid 2px;
    outline: none;
    background-color: #2AC176;
    color: white;
}

/* Fancy Box Parametros Topologías */

#parameter {
    text-align: center;
}

#labelHost {
    text-align: center;
    margin-left: 85px;
}

#formulario {
    font-family: 'Quicksand', sans-serif;
}

#inputHostTemplate {
    background-image: url(../img/host.png);
    background-repeat: no-repeat;
    font-size: 15px;
    background-size: 22px;
    background-position: 17px 3px;
    letter-spacing: 3px;
    height: 32px;
    width: 45%;
    border-radius: 15px;
    border: #b8b9bb solid 2px;
    padding-right: 8px;
    text-align: right;
    margin-left: 85px;
}

#inputHostTemplate:focus {
    border: #88aefa solid 2px;
    outline: none;
}

#createButtonTemplate {
    border: #b8b9bb solid 2px;
    outline: none;
    height: 32px;
    width: 45%;
    border-radius: 15px;
    margin-left: 85px;
}

/* Fancy Box Parametros Topologías tree */

#parameterTree {
    text-align: center;
}

#labelDepth {
    text-align: center;
    margin-left: 78px;
}

#labelFanout {
    text-align: center;
    margin-left: 65px;
}

#formularioTree {
    font-family: 'Quicksand', sans-serif;
}

#inputDepthTemplate {
    background-image: url(../img/level.png);
    background-repeat: no-repeat;
    font-size: 15px;
    background-size: 17px;
    background-position: 8px 5px;
    letter-spacing: 3px;
    height: 32px;
    width: 45%;
    border-radius: 15px;
    border: #bbb9b8 solid 2px;
    padding-right: 8px;
    text-align: right;
    margin-left: 85px;
}

#inputDepthTemplate:focus {
    border: #88aefa solid 2px;
    outline: none;
}

#inputFanoutTemplate {
    background-image: url(../img/fanout.png);
    background-repeat: no-repeat;
    font-size: 15px;
    background-size: 17px;
    background-position: 8px 5px;
    letter-spacing: 3px;
    height: 32px;
    width: 45%;
    border-radius: 15px;
    border: #b8b9bb solid 2px;
    padding-right: 8px;
    text-align: right;
    margin-left: 85px;
}

#inputFanoutTemplate:focus {
    border: #88aefa solid 2px;
    outline: none;
}

#createButtonTree {
    border: #b8b9bb solid 2px;
    outline: none;
    height: 32px;
    width: 45%;
    border-radius: 15px;
    margin-left: 85px;
}

/* Fancy Box IP X Client */

.divIP_xclient {
    width: 400px;
    height: 300px;
}

#parameter_xclient, #inputInfoIP {
    display: inline;
}

#inputInfoIP {
    margin-left: 3px;
}

#parameter_xclient {
    margin-left: 40px;
}

#labelIP {
    text-align: center;
    margin-left: 120px;
}

#formulario_IP_xclient {
    font-family: 'Quicksand', sans-serif;
    margin-top: 40px;
}

#inputIP_xclient {
    background-image: url(../img/host.png);
    background-repeat: no-repeat;
    font-size: 15px;
    background-size: 22px;
    background-position: 17px 3px;
    letter-spacing: 3px;
    height: 32px;
    width: 65%;
    border-radius: 15px;
    border: #b8b9bb solid 2px;
    padding-right: 8px;
    text-align: right;
    margin-left: 55px;
}

#inputIP_xclient:focus {
    border: #88aefa solid 2px;
    outline: none;
}

#saveIP_xclient {
    border: #b8b9bb solid 2px;
    outline: none;
    height: 32px;
    width: 45%;
    border-radius: 15px;
    margin-left: 95px;
}

/* Fancy Box Generador de Tráfico */

.divTrafficTCP {
    width: 590px;
    height: 620px;
    font-family: 'Quicksand', sans-serif;
}

#parameter_traffic, #inputInfoGenerate {
    display: inline;
}

#inputInfoGenerate {
    margin-left: 3px;
}

#parameter_traffic {
    margin-left: 100px;
    margin-bottom: 10px;
}

#formulario_traffic {
    font-size: 14px;
    margin-top: 10px;
}

#labelTraffic {
    text-align: center;
    margin-left: 40px;
}

#selectorTraffic {
    margin-left: 130px;
    border-bottom: #81a7f1 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    text-align: right;
    background-color: white;
    width: 50px;
}

#divParameterTraffic {
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#labelParameterTraffic, #labelModeTraffic {
    font-weight: bold;
    text-align: center;
}

#inputRange {
    margin-left: 83px;
    border-bottom: #81a7f1 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    text-align: right;
    background-color: white;
    width: 70px;
}

#inpuRate {
    margin-left: 45px;
    border-bottom: #81a7f1 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    text-align: right;
    background-color: white;
    width: 70px;
    pointer-events: none;
}

#radioKBit, #radioMBit {
    pointer-events: none;
}

#inputWindow {
    margin-left: 10px;
    border-bottom: #81a7f1 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    text-align: right;
    background-color: white;
    width: 70px;
    pointer-events: none;
}

#radioKByteW, #radioMByteW {
    pointer-events: none;
}

#inputLong {
    margin-left: 89px;
    border-bottom: #81a7f1 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    text-align: right;
    background-color: white;
    width: 70px;
    pointer-events: none;
}

#radioKByteL {
    pointer-events: none;
}

#inputTime, #inputPacket, #inputBlock {
    border-bottom: #81a7f1 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    text-align: right;
    background-color: white;
    width: 70px;
    pointer-events: none;
}

#range, #rate, #window, #long, #time, #packet, #block {
    margin-bottom: 10px;
}

#inputBlock {
    margin-left: 101px;
}

#inputPacket {
    margin-left: 85px;
}

#inputTime {
    margin-left: 88px;
}

#radioTime {
    margin-left: 3px;
}

#radioPacket {
    margin-left: 3px;
}

#radioBlock {
    margin-left: 3px;
}

#radioXtreme {
    margin-left: 160px;
}

#radioGlobal {
    margin-left: 245px;
}

#radioSpecific {
    margin-left: 222px;
}

#kbit, #mbit, #labelUnidadRange, #kbytes, #mbytes, #labelTimeSeg {
    font-size: 10px;
}

#radioMByteL {
    margin-left: 15px;
    pointer-events: none;
}

#inputHostAS, #inputHostBS {
    width: 50px;
    border-bottom: #81a7f1 solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    text-align: right;
    background-color: white;
    pointer-events: none;
}

#checkBoxRange, #inputRange {
    pointer-events: none;
}

#radioKByteP, #radioMByteP, #radioKByteB, #radioMByteB {
    pointer-events: none;
}

#labelHostA {
    margin-left: 60px;
    margin-right: 10px;
}

#labelHostB {
    margin-left: 20px;
    margin-right: 20px;
}

#generateBtn {
    border: #b8b9bb solid 2px;
    outline: none;
    height: 25px;
    width: 35%;
    border-radius: 15px;
    margin-left: 165px;
    margin-top: 10px;
    font-weight: bolder;
}

#generateBtn:focus {
    border: #5585e6 solid 2px;
    background-color: #81a7f1;
    outline: none;
}

#generateBtn:hover {
    border: #81a7f1 solid 2px;
    outline: none;
}

/*-------------------------------------------------------------*/

/* Fancy Box Graphics */

#containerGraphic {
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    width: 880px;
    height: 460px;
}

#inputInfoGraphic {
    margin-left: 3px;
}

#labelFancyGraphic {
    margin-left: 250px;
}

#containerCanvaGraphic {
    width: 590px;
    height: 450px;
    border: 0px;
    float: left;
    margin-top: 20px;
}

#graphic {
    width: 590px;
    height: 450px;
}

#containerFancyInfoGraphicTCP {
    float: left;
    width: 270px;
    height: 450px;
    margin-top: 25px;
    padding: 5px;
    display: none;
}

/* Tabla */

#tableInfo {
    margin-top: 45px;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-spacing: 1px;
    height: 85%;
    border-collapse: separate;
    border-spacing: 7px 1px;
}

.labelparameter {
    text-align: left;
    color: #20b0c0;
}

.labelparameterMeter {
    text-align: center;
    color: #2088c0;
}

.parameter {
    width: 43%;
    border-bottom: #2AC176 solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    color: #81a7f1;
}

/* Contenedor de los Botones del Fancy Graphic */

#containerFancyButtonGraphic {
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    margin-left: 70px;
}

#CancelarButtonFancyGraphic {
    border: #b8b9bb solid 2px;
    outline: none;
    height: 22px;
    width: 40%;
    border-radius: 15px;
    background-color: white;
    color: #2AC176;
}

#CancelarButtonFancyGraphic:focus {
    border: #2AC176 solid 2px;
    outline: none;
    background-color: #2AC176;
    color: white;
}

#GuardarButtonFancyGraphic {
    border: #b8b9bb solid 2px;
    outline: none;
    height: 22px;
    width: 40%;
    border-radius: 15px;
    background-color: white;
    color: #2AC176;
}

#GuardarButtonFancyGraphic:focus {
    border: #2AC176 solid 2px;
    outline: none;
    background-color: #2AC176;
    color: white;
}

/* Fancy HOST Traffic Specific*/

.divTrafficHost {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}

.containerHostSpecific {
    height: 200px;
    width: 805px;
}

#tableHostSpecific, #generalHostSpecific {
    border: #b8b9bb solid 2px;
    text-align: center;
    width: 800px;
}

.divLabelHostGeneral {
    display: inline-block;
}

#tittleHostTraffic {
    text-align: center;
}

#idenHost {
    /*text-align: center;*/
    background-image: url(../img/host.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 8px 3px;
    padding-left: 70px;
}

#labelLink {
    padding-left: 100px;
}

#optionLink {
    border-bottom: #2AC176 solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    width: 50px;
    margin-left: 10px;
}

#inputSelectorLink {
    border: #b8b9bb solid 2px;
    outline: none;
    width: 135px;
    border-radius: 15px;
    font-weight: bolder;
    margin-left: 15px;
}

#inputSelectorLink:focus {
    border: #55e66d solid 2px;
    background-color: #55e66d73;
    outline: none;
    color: white;
}

#inputSelectorLink:hover {
    border: #55e66d solid 2px;
    outline: none;
}

#tableInfoHG {
    margin-top: 10px;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: separate;
    border-spacing: 10px 0px;
}

.labelparameterHG {
    width: 200px;
}

.labelparameterMeterHG {
    text-align: left;
    color: #2088c0;
    font-size: 13px;
}

.parameterHG {
    width: 150px;
    border-bottom: #2AC176 solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
    outline: none;
    color: #81a7f1;
}

#divTableHostGeneral {
    margin-bottom: 25px;
}

.info_host {
    display: inline;
}

#tb_tableHostHG, #th_tableHostHG {
    display: block;
}



#inputInfo {
    /*     background-image: url(../img/informacion.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 3px 3px; */
    width: 28px;
    height: 28px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding-top: 10px;
    padding-left: 5px;
}

#infoIcon {
    width: auto;
    height: 40px;
    padding-top: -2px;
    margin-bottom: 25px;
}

#inputInfo, #tittleHostTraffic {
    display: inline-block;
}

#tittleHostTraffic {
    margin-left: 150px;
}

/*Fancy Text Area Info*/

#divFancyInfo {
    width: 600px;
    height: 400px;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#labelInfoTxtArea {
    width: auto;
    height: 40px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
}

#containerAreaInfo {
    width: auto;
    height: auto;
    
    
}

/* #txtAreaFancyInfo {
    width: 530px;
    height: 360px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: #2AC176 solid 2px;
    resize: none;
    text-align: justify;
} */

#txtAreaFancyInfo {
    width: 600px;
    
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: separate;
    border-spacing: 3px 3px;
    border: #b8b9bb solid 2px;
    outline: none;
    display: block;
   
    
}
#txtAreaFancyInfo, #trInfo td{
    border: #b8b9bb solid 2px;
}




#parameterInfo, #tbInfo  tr {
    display:table;
    width: 100%;
    table-layout:fixed;
    
}

#tbInfo {   
    display: block;
    height: 300px;
    overflow:auto;
    text-align: justify;
}


#thInfo {
    border: #b8b9bb solid 2px;
    border-collapse: separate;
    /* border-spacing: 5px 5px;     */
}


#labelInfoFancy {
    color: #81a7f1;
}

/*Info Controller*/

#inputInfoController {
    /*     background-image: url(../img/informacion.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 3px 3px; */
    width: 28px;
    height: 28px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding-top: 10px;
    padding-left: 5px;
}

#inputInfoController, #labelFancyController {
    display: inline-block;
}