{% extends 'template.html' %}
{% load static %}

{% block link_css %}

<link rel="stylesheet" href="{% static 'css/emulator.css' %}">
<link rel="stylesheet" href="{% static 'css/emulatorFancyBox.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
{% endblock link_css %}
{% block script_js %}

<script src="{% static 'js/fabric.js' %}"></script>
<script src="{% static 'js/hamburguer_menu.js' %}"></script>
{% endblock script_js %}
{% block title %}SDN - Emulator{% endblock title %}

{% block content %}
<div class="menujq" id="menu_bar">
        <ul id="menu_option_bar">
                <li id="menu_archivo_bar"> <a href="javascript:void();">Archivo</a>
                        <ul id="menu_archivo">
                                <li id="nuevo"><a href="#">Nuevo</a></li>
                                <li id="abrir"><a href="#">Abrir</a></li>
                                <li id="menu_plantilla"><a href="#">Abrir Plantilla</a>
                                        <ul id="sub_menu_plantilla">
                                                <li id="minimal">
                                                        <a id="minimalTopo" onclick="topologyTemplate(this)">
                                                                Minimal</a>
                                                </li>
                                                <li id="anillo">
                                                        <a id="anilloTopo" onclick="topologyTemplate(this)"> Anillo</a>
                                                <li id="single">
                                                        <a id="singleTopo" onclick="topologyTemplate(this)">Single</a>
                                                </li>
                                                <li id="tree">
                                                        <a id="treeTopo" onclick="topologyTemplate(this)">Tree</a>
                                                </li>
                                                <li id="linear">
                                                        <a id="linearTopo" onclick="topologyTemplate(this)">Linear</a>
                                                </li>
                                        </ul>
                                </li>
                                <li id="guardar"><a href="#">Guardar</a></li>
                                <li id="menu_exportar"><a href="#">Exportar</a>
                                        <ul id="sub_menu_exportar">
                                                <li id="python">
                                                        <a href="#">Python</a>
                                                </li>
                                                <li id="json">
                                                        <a href="#">JSON</a>
                                                </li>
                                                <li id="png">
                                                        <a href="#">PNG</a>
                                                </li>
                                        </ul>
                                </li>
                                <li id="salir"><a href="#">Salir</a></li>
                        </ul>
                </li>
                <li id="menu_edicion_bar" href="javascript:void();"> <a>Edición</a>
                        <ul id="menu_edicion">
                                <li id="deshacer"><a href=" ">Deshacer</a></li>
                                <li id="rehacer"><a href=" ">Rehacer</a></li>
                                <li id="copiar"><a href=" ">Copiar</a></li>
                                <li id="cortar"><a href=" ">Cortar</a></li>
                                <li id="pegar"><a href=" ">Pegar</a></li>
                                <li id="seleccion"><a onclick="clearAll()">Seleccionar Todo</a></li>
                        </ul>
                </li>
                <li id="menu_emulacion_bar" href="javascript:void();"> <a>Emulación</a>
                        <ul id="menu_emulacion">
                                <li id="iniciarE"><a href="#" class="playDesp">Iniciar Emulación</a></li>
                                <li id="detenerE"><a href="#" class="stopDesp">Detener Emulación</a></li>
                                <li id="wireshark" class="wSharkDesp"><a href="#">wireShark</a></li>
                                <li id="genTraffic" class="genTr"><a href="#">Generador de Tráfico</a></li>
                                <li id="graf" class="grafDesp"><a href="#">Generador de Graficas</a></li>
                                <li id="odl" class="odlDesp"><a href="#">Controlador Externo OpenDayLigth</a></li>
                        </ul>
                </li>
                <li id="menu_ayuda_bar" href="javascript:void();"> <a>Ayuda</a>
                        <ul id="menu_ayuda">
                                <li id="doc"><a href=" ">Documentación</a></li>
                                <li id="guie"><a href=" ">Guias de Usuario</a></li>
                                <li id="about"><a href=" ">Acerca de ...</a></li>
                        </ul>
                </li>
        </ul>
</div>

<script type="text/javascript">
        $(document).ready(function () {
                $('.menujq > ul > li:has(ul)').addClass('desplegable');
                $('.menujq > ul > li > a').click(function () {

                        var comprobar = $(this).next();

                        $('.menujq li').removeClass('activa');
                        $(this).closest('li').addClass('activa');

                        if ((comprobar.is('ul')) && (comprobar.is(':visible'))) {
                                $(this).closest('li').removeClass('activa');
                                comprobar.slideUp('normal');
                        }
                        if ((comprobar.is('ul')) && (!comprobar.is(':visible'))) {
                                $('.menujq ul ul:visible').slideUp('normal');
                                comprobar.slideDown('normal');
                        }
                });
                close($('.menujq'));
        });
</script>

<div class="emulator">
        <div class="tool_bar">
                <ul id="menu_option__tool_bar">
                        <li title="Nuevo" id="option_tool_bar" href="#" class="new"> <img
                                        src="{% static 'img/new_document.png' %}" alt="" width="18px" height="18px">
                        </li>
                        <li title="Guardar" id="option_tool_bar"> <img src="{% static 'img/save.png' %}" alt=""
                                        width="18px" height="18px"> </li>
                        <li title="Copiar" id="option_tool_bar"> <img src="{% static 'img/copy.png' %}" alt=""
                                        width="18x" height="18px" class="copiar"></li>
                        <li title="Pegar" id="option_tool_bar"> <img src="{% static 'img/paste.png' %}" alt=""
                                        width="18px" height="18px"></li>
                        <li title="Deshacer" id="option_tool_bar"> <img src="{% static 'img/undo.png' %}" alt=""
                                        width="18px" height="18px"></li>
                        <li title="Rehacer" id="option_tool_bar" class='rehacer'> <img src="{% static 'img/redo.png' %}"
                                        alt="" width="18px" height="18px"></li>
                        <li title="Iniciar Emulación" id="option_tool_bar" class="play"> <img
                                        src="{% static 'img/play.png' %}" alt="" width="18px" height="18px"></li>
                        <li title="Detener Emulación" id="option_tool_bar" class='stop'> <img
                                        src="{% static 'img/stop.png' %}" alt="" width="18px" height="18px"></li>
                        <li title="Generador de Tráfico" id="option_tool_bar" class='generator'> <img
                                        src="{% static 'img/check.png' %}" alt="" width="18px" height="18px"></li>
                        <li title="Analizador de Tráfico" id="option_tool_bar wireshark" class='wireShark'> <img
                                        src="{% static 'img/analitica.png' %}" alt="" width="18px" height="18px"></li>
                        <li title="Graficos" id="option_tool_bar graphic" class='graphic'> <img
                                        src="{% static 'img/diagram.png' %}" alt="" width="18px" height="18px"></li>
                        <li title="Controller OpenDayLigth" id="option_tool_bar opendayligth" class='opendayligth'> <img
                                        src="{% static 'img/vagueness.png' %}" alt="" width="20px" height="20px"></li>

                </ul>
        </div>

        <aside class="tool_panel">

                <button title="Modo: Seleccionar" type="button" href="#" id="cursor" class="btn mode"><img
                                src="{% static 'img/cursor.png' %}" id="panel_img" alt="" width="45%"
                                height="45%"></button>
                <button title="Controlador" type="button" href="#" id="controller" class="btn mode"><img
                                src="{% static 'img/controller.png' %}" id="panel_img" alt="" width="70%"
                                height="70%"></button>
                <button title="Switch OpenFlow" type="button" href="#" id="switch_openflow" class="btn mode"><img
                                src="{% static 'img/openflow_switch.png' %}" id="panel_img" alt="" width="85%"
                                height="95%"></button>
                <button title="Host" type="button" href="#" id="host" class="btn mode"><img
                                src="{% static 'img/host.png' %}" id="panel_img" alt="" width="70%"
                                height="70%"></button>
                <button title="Port" type="button" href="#" id="port" class="btn mode"><img
                                src="{% static 'img/port.png' %}" id="panel_img" alt="" width="70%"
                                height="55%"></button>
                <button title="Label" type="button" href="#" id="label" class="btn mode"><img
                                src="{% static 'img/label.png' %}" id="panel_img" alt="" width="70%"
                                height="55%"></button>
                <button title="Modo: Enlace" type="button" href="#" id="link" class="btn mode"><img
                                src="{% static 'img/link.png' %}" id="panel_img" alt="" width="65%"
                                height="65%"></button>
                <button title="Eliminar" type="button" href="#" id="delete" class="btn" onclick="deleteElement()"><img
                                src="{% static 'img/delete.png' %}" id="panel_img" alt="" width="45%" height="45%">

        </aside>

        <div class="canvas_panel">
                <canvas id="canvas" width="4500" , height="4500"></canvas>
        </div>
</div>

<div style="display: none;">
        <div class="divIP_xclient">
                <h2 id="parameter_xclient">Configuración IP</h2>

                <form id="formulario_IP_xclient">
                        <label id="labelIP"> IP Local: </label><br>
                        <input type="text" id="inputIP_xclient" value=""><br><br>
                        <input type="button" id="saveIP_xclient" value="Asignar IP">
                </form>
        </div>
</div>

<div style="display: none;">
        <div class="divTraffic">
                <h2 id="parameter_traffic">Generador de Tráfico</h2>
                <form id="formulario_traffic">

                        <label id="labelTraffic">Seleccione el tipo de tráfico:</label>
                        <select name="selectorTraffic" id="selectorTraffic">
                                <option id="tcp">TCP</option>
                                <option id="udp">UDP</option>
                        </select>

                        <!--
                        <label id="labelTraffic">Seleccione el tipo de tráfico:</label>
                        <select name="selectorTraffic" id="selectorTraffic">
                                <option id="tcp">TCP</option>
                                <option id="udp">UDP</option>
                        </select>
                        -->
                        <div id="divParameterTraffic">
                                <label id="labelParameterTraffic">Establezca los parametros de tráfico:</label>
                        </div>

                        <ul id="parameterTraffic">

                                <li id="time">
                                        <!-- Opcion -t -->
                                        <input type="radio" id="radioTime" name="option">
                                        <label id="optionT">Tiempo de emulación:</label>
                                        <input type="number" id="inputTime" step="0.1" min="1" value="1" max="100000">
                                        <span id="labelTimeSeg">Seg</span>

                                </li>

                                <li id="long">
                                        <!-- Opcion -l -->
                                        <input type="checkbox" id="checkBoxLong" name="optionL" value="a">
                                        <span id="optionL">Longitud del paquete:</span>
                                        <input type="number" id="inputLong" step="0.01" min="1" value="1" max="1000">
                                        <input type="radio" id="radioKByteL" name="optionLong" checked>
                                        <label id="kbytes">KBytes</label>
                                        <input type="radio" id="radioMByteL" name="optionLong">
                                        <label id="mbytes">MBytes</label>
                                </li>

                                <li id="range">
                                        <!-- Opcion -i -->
                                        <input type="checkbox" id="checkBoxRange" name="optionI" value="a">
                                        <span id="optionI">Intervalo de muestreo:</span>
                                        <input type="number" id="inputRange" step="0.01" min="1" value="1" max="1000">
                                        <span id="labelUnidadRange">Seg</span>
                                </li>
                                <li id="rate">
                                        <!-- Opcion -b -->
                                        <input type="checkbox" id="checkBoxRate" name="optionB" value="a">
                                        <span id="optionB">Ancho de Banda del destino:</span>
                                        <input type="number" id="inpuRate" step="0.01" min="1" value="1" max="1000000">
                                        <input type="radio" id="radioKBit" name="optionRate" checked>
                                        <label id="kbit">Kbit/Seg</label>
                                        <input type="radio" id="radioMBit" name="optionRate">
                                        <label id="mbit">Mbit/Seg</label>

                                </li>
                                <li id="window">
                                        <!-- Opcion -w -->
                                        <input type="checkbox" id="checkBoxWindow" name="optionW" value="a">
                                        <span id="optionW">Tamaño de la Ventana Deslizante:</span>
                                        <input type="number" id="inputWindow" step="0.01" min="1" value="1" max="1000">
                                        <input type="radio" id="radioKByteW" name="optionWindows" checked>
                                        <label id="kbytes">KBytes</label>
                                        <input type="radio" id="radioMByteW" name="optionWindows">
                                        <label id="mbytes">MBytes</label>
                                </li>


                                <li id="packet">
                                        <!-- Opcion -n -->
                                        <input type="radio" id="radioPacket" name="option">
                                        <label id="optionN">Cantidad de paquetes:</label>
                                        <input type="number" id="inputPacket" step="0.001" min="1" value="1"
                                                max="1000000">
                                        <input type="radio" id="radioKByteP" name="optionUnityPacket">
                                        <label id="kbytes">KBytes</label>
                                        <input type="radio" id="radioMByteP" name="optionUnityPacket">
                                        <label id="mbytes">MBytes</label>
                                </li>


                                <li id="block">
                                        <!-- Opcion -k -->
                                        <input type="radio" id="radioBlock" name="option">
                                        <label id="optionW">Número de bloques:</label>
                                        <input type="number" id="inputBlock" step="0.001" min="1" value="1"
                                                max="1000000">
                                        <input type="radio" id="radioKByteB" name="optionUnityBlock">
                                        <label id="kbytes">KBytes</label>
                                        <input type="radio" id="radioMByteB" name="optionUnityBlock">
                                        <label id="mbytes">MBytes</label>

                                </li>


                        </ul>
                        <div id="labelModeTraffic">
                                <label>Seleccione el modo de operación:</label>
                        </div>

                        <ul id="optionTraffic">
                                <li>
                                        <label for="xtreme">Barrido Extremo a Extremo</label>
                                        <input id='radioXtreme' type="radio" id="xtreme" name="traffic" value="xtreme"
                                                checked>
                                </li>
                                <li>
                                        <label id="global">Barrido Global</label>
                                        <input id='radioGlobal' type="radio" name="traffic" value="global">
                                </li>
                                <li>
                                        <label for="specific">Barrido especifico</label>
                                        <input id='radioSpecific' type="radio" name="traffic" value="specific">
                                </li>
                                <li id="hostSpecific">
                                        <span id="labelHostA">Desde el Host:</span>
                                        <span id="labelHA">h</span>
                                        <input type="number" step="1" min="1" max="10000" id="inputHostAS">
                                        <span id="labelHostB">a:</span>
                                        <span id="labelHB">h</span>
                                        <input type="number" step="1" min="1" max="10000" id="inputHostBS">
                                </li>

                        </ul>
                        <input type="button" id="generateBtn" value="Generar">
                </form>
        </div>
</div>

<div style="display: none;">
        <div class="divFormTemplate">
                <h2 id="parameter"> Parámetros de la Red</h2>

                <form id="formulario">
                        <label id="labelHost">Número de Host:</label><br>
                        <input type="text" id="inputHostTemplate" name="fname"><br><br>
                        <input type="button" id="createButtonTemplate" value="Crear">
                </form>
        </div>
</div>

<div style="display: none;">
        <div class="divFormTree">
                <h2 id="parameterTree"> Parámetros de la Red</h2>

                <form id="formularioTree">
                        <label id="labelDepth">Niveles de la Red:</label><br>
                        <input type="text" id="inputDepthTemplate" name="fname"><br><br>
                        <label id="labelFanout">Apertura por Nodo:</label><br>
                        <input type="text" id="inputFanoutTemplate" name="fname"><br><br>
                        <input type="button" id="createButtonTree" value="Crear">
                </form>

        </div>

</div>

<div class="divFancyLink" style="display: none;">

        <div id="containerInsertLink">

                <div id="containerParameterFancyLink">
                        <label id="labelFancyLink"> Link </label>
                </div>

                <div id="divFancyFormLink">

                        <form id="formularioFancyLink">

                                <div id="containerBandWidthLink">
                                        <label id="labelFancyBandWidthLink"> Ancho de Banda: </label>
                                        <input type="number" id="inputFancyBandWidthLink" step="1" min="0"
                                                max="1000000000000000000"><span id="spanBandWidthLink">MBits/s</span>
                                </div>

                                <div id="containerDelayLink">
                                        <label id="labelFancyDelayLink"> Retardo: </label>
                                        <input type="number" id="inputFancyDelayLink" step="1" min="0"
                                                max="1000000000000000000"><span id="spanBandWidthLink">ms</span>
                                </div>

                                <div id="containerJitterLink">
                                        <label id="labelFancyJitterLink"> Jitter: </label>
                                        <input type="number" id="inputFancyJitterLink" step="1" min="0"
                                                max="1000000000000000000"><span id="spanBandJitterLink">ms</span>
                                </div>

                                <div id="containerMaxQueueLink">
                                        <label id="labelFancyMaxQueueLink"> Cola Máxima: </label>
                                        <input type="number" id="inputFancyMaxQueueLink" step="1" min="0"
                                                max="1000000000000000000"><span
                                                id="spanBandMaxQueueLink">paquetes</span>
                                </div>

                                <div id="containerLossLink">
                                        <label id="labelFancyLossLink"> Pérdidas: </label>
                                        <input type="number" id="inputFancyLossLink" step="1" min="0" max="100"><span
                                                id="spanBandJitterLink">%</span>
                                </div>


                        </form>

                </div>

                <div id="containerButtonLink">
                        <input type="button" id="CancelarButtonFancyLink" value="Cancelar">
                        <input type="button" id="GuardarButtonFancyLink" value="Guardar">
                </div>
        </div>
</div>

<!-- Fancy del Controlador -->
<div class="divFancyController" style="display: none;">

        <div id="containerInsertController">

                <div id="containerParameterFancyController">
                        <label id="labelFancyController"> Controller </label>
                </div>

                <div id="divFancyFormController">

                        <form id="formularioFancyController">

                                <div id="containerTypeController">

                                        <label id="labelTypeFancyController"> Tipo: </label>
                                        <select id="optionTypeFancyController" data-default="Por defecto">
                                                <option value="Por defecto" selected="selected">Por defecto</option>
                                                <option value="OpenFlow Reference Implementation">OpenFlow Reference
                                                        Implementation</option>
                                                <option value="NOX">NOX</option>
                                                <option value="OVS Controller">OVS Controller</option>
                                                <option value="OpenDayLigth">OpenDayLigth</option>
                                        </select>
                                        <i id="arrowOptionTypeController"></i>

                                </div>

                                <div id="containerIPController">
                                        <label id="labelFancyIpController"> IP: </label>
                                        <input type="text" id="inputFancyIpController" placeholder="0.0.0.0">
                                </div>

                                <div id="containerPortController">
                                        <label id="labelFancyPuertoController"> Puerto: </label>
                                        <input type="number" id="inputFancyPuertoController" step="1" min="0"
                                                max="65535">
                                </div>

                                <div id="containerProtocolController">
                                        <label id="labelFancyProtocolController"> Protocolo: </label>
                                        <select id="optionProtocolFancyController" data-default="Ninguno">
                                                <option value="Ninguno" selected="selected">Ninguno</option>
                                                <option value="TCP">TCP</option>
                                                <option value="SSL">SSL</option>
                                        </select>
                                        <i id="arrowProtocolController"></i>

                                </div>

                        </form>

                </div>

                <div id="containerButtonController">
                        <input type="button" id="CancelarButtonFancyController" value="Cancelar">
                        <input type="button" id="GuardarButtonFancyController" value="Guardar">
                </div>
        </div>
</div>

<div class="divFancyHost" style="display: none;">

        <div id="containerInsertHost">

                <div id="containerParameterFancyHost">
                        <label id="labelFancyHost"> </label>
                </div>

                <div id="containerFormHost">
                        <form id="formularioFancyHost">

                                <div id="containerIPHost">
                                        <label id="labelFancyIPHost">Ruta por Defecto:</label>
                                        <input type="text" id="inputFancyIPHost" name="fname">
                                </div>

                                <div id="containerShedulerHost">
                                        <label id="labelSchedulerFancyHost"> Scheduler: </label>
                                        <select id="optionShedulerFancyHost" data-default="Ninguno">
                                                <option value="Ninguno" selected="selected">Ninguno</option>
                                                <option value="CFS">CFS</option>
                                                <option value="RT">RT</option>
                                        </select>
                                        <i id="arrowProtocolFancyHost"></i>
                                </div>

                                <div id="containerCPULimitHost">
                                        <label id="labelFancyCpuLimitHost"> Limite CPU : </label>
                                        <input type="number" id="inputFancyCpuLimitHost" step="0.01" min="0" max="1">
                                </div>

                                <div id="containerCPUCoresHost">
                                        <label id="labelFancyCPUCoreHost"> Núcleos CPU: </label>
                                        <input type="text" id="inputFancyCPUCoresHost" name="fname">
                                </div>



                                <!-- 
                                <div id="containerStartUp">
                                        <label id="labelFancyStartScriptsHost"> Startup Script: </label>
                                        <input type="text" id="inputFancyStartScriptsHost" name="fname">
                                </div>

                                <div id="containerShutDown">
                                        <label id="labelFancyShutDownScriptsHost"> ShutDown Script: </label>
                                        <input type="text" id="inputFancyShutDownScriptsHost" name="fname">
                                </div>-->
                        </form>
                </div>

                <div id="containerFancyButtonFormHost">
                        <input type="button" id="CancelarButtonFancyHost" value="Cancelar">
                        <input type="button" id="GuardarButtonFancyHost" value="Guardar">
                </div>
        </div>

</div>

<div class="divFancySwitch" style="display: none;">

        <div id="containerParameterFancySwitch">
                <label id="labelFancySwitch"> Switch </label><br><br>
        </div>

        <div id="containerInsertSwitch">

                <div id="containerFancyFormSwitch">

                        <form id="formularioFancySwitch">

                                <div id="containerTypeSwitch">
                                        <label id="labelFancyTypeSwitch"> Type: </label>

                                        <select id="optionTypeFancySwitch" data-default="Ninguno">
                                                <option value="Ninguno" selected="selected">Ninguno</option>
                                                <option value="IVS Switch">IVS Switch</option>
                                                <option value="Linux Brigde">Linux Brigde</option>
                                                <option value="OVS Brigde">OVS Brigde</option>
                                                <option value="OVS Switch">OVS Switch</option>
                                                <option value="User Switch">User Switch</option>
                                        </select>
                                        <i id="arrowTypeFancySwitch"></i>
                                </div>

                                <div id="containerSTPFancySwitch">
                                        <input id="STPFancySwitch" type="checkbox" name="activado" value="activado"> STP

                                        <label id="labelFancySTPPriority"> STP Priority: </label>
                                        <input type="number" id="inputFancySTPPriority" step="4096" min="0" max="61440">

                                </div>

                                <div id="containerIPSwitch">
                                        <label id="labelFancyIPSwitch"> IP: </label>
                                        <input type="text" id="inputFancyIPSwitch" name="fname"><br>
                                </div>

                                <div id="containerDPCTLPort">
                                        <label id="labelFancyDPCTLPort"> DPCTL Port: </label>
                                        <input type="number" id="inputFancyDPCTLPort" step="1" min="0" max="65535">
                                </div>

                                <div id="containerProtocolSwitch">
                                        <label id="labelFancyProtocolSwitch"> Protocol: </label>
                                        <select id="optionProtocolFancySwitch" data-default="OpenFlow 1.0">
                                                <option value="OpenFlow 1.0" selected="selected">OpenFlow 1.0</option>
                                                <option value="OpenFlow 1.2">OpenFlow 1.2</option>
                                                <option value="OpenFlow 1.3">OpenFlow 1.3</option>
                                                <option value="OpenFlow 1.4">OpenFlow 1.4</option>
                                                <option value="OpenFlow 1.5">OpenFlow 1.5</option>
                                        </select>
                                        <i id="arrowProtocolFancySwitch"></i>
                                </div>

                                <div id="containerDataPath">
                                        <label id="labelFancyDataPathSwitch"> DataPath: </label>
                                        <select id="optionDataPathFancySwitch" data-default="Ninguno">
                                                <option value="Ninguno" selected="selected">Ninguno</option>
                                                <option value="Kernel">Kernel</option>
                                                <option value="User">User</option>
                                        </select>
                                        <i id="arrowDataPathFancySwitch"></i>
                                </div>

                                <div id="containerDataPathID">
                                        <label id="labelFancyDataPathIDSwitch"> DataPath ID: </label>
                                        <input type="text" id="inputFancyDataPathIDSwitch">
                                </div>

                                <div id="containerOfDataPathArguments">
                                        <label id="labelFancyOfDataPathArgsSwitch"> DataPath Args: </label>
                                        <input type="text" id="inputFancyOfDataPathArgsSwitch">
                                </div>

                                <div id="FailMode">
                                        <label id="labelFancyFailModeSwitch"> Modelo de Fallas: </label>
                                        <select id="optionFailModeFancySwitch" data-default="Ninguno">
                                                <option value="Ninguno" selected="selected">Ninguno</option>
                                                <option value="Secure">Secure</option>
                                                <option value="Standalone">Standalone</option>
                                        </select>
                                        <i id="arrowFailMode"></i>
                                </div>

                                <div id="containerCheckBoxOne">
                                        <input id="InBandFancySwitch" type="checkbox" value="activado">InBand
                                        <input id="InNameSpaceFancySwitch" type="checkbox" value="activado">In NameSpace
                                </div>

                                <div id="containerCheckBoxTwo">
                                        <input id="BatchFancySwitch" type="checkbox" value="activado">Batch
                                        <input id="VerboseFancySwitch" type="checkbox" value="activado">Verbose
                                </div>
                                <!--
                                <div id="containerAddOption">
                                        <label id="labelFancyAdditionalSwOptionsScriptsSwitch"> Opciones adicionales del Switch:
                                        </label>
                                        <input type="text" id="inputFancyAdditionalSwOptionsScriptsSwitch">
                                </div>

                                
                                <div id="containerStartUp">
                                        <label id="labelFancyStartScriptsSwitch"> Startup Script: </label>
                                        <input type="text" id="inputFancyStartScriptsSwitch">
                                </div>

                                <div id="containerShutDown">
                                        <label id="labelFancyShutDownScriptsSwitch"> ShutDown Script: </label>
                                        <input type="text" id="inputFancyShutDownScriptsSwitch" name="fname">
                                </div>
                                -->
                        </form>
                </div>

        </div>

        <div id="containerFancyButtonFormSwitch">
                <input type="button" id="CancelarButtonFancySwitch" value="Cancelar">
                <input type="button" id="GuardarButtonFancySwitch" value="Guardar">
        </div>
</div>

<div class="divFancyPort" style="display: none;">

        <div id="containerInsertPort">

                <div id="containerParameterFancyPort">
                        <label id="labelFancyHost"> PUERTO </label>
                </div>

                <div id="containerFormPort">
                        <form id="formularioFancyPort">

                                <div id="containerIPPort">
                                        <label id="labelFancyIPPort">IPs:</label>
                                        <input type="text" id="inputFancyIPPort" name="fname">
                                </div>
                        </form>
                </div>

                <div id="containerFancyButtonFormPort">
                        <input type="button" id="CancelarButtonFancyPort" value="Cancelar">
                        <input type="button" id="GuardarButtonFancyPort" value="Guardar">
                </div>
        </div>

</div>


<div class="divFancyLabel" style="display: none;">

        <div id="containerInsertLabel">

                <div id="containerParameterFancyLabel">
                        <label id="labelFancyLabel"> ETIQUETA </label>
                </div>

                <div id="containerFormLabel">
                        <form id="formularioFancyLabel">

                                <div id="containerLabel">
                                        <label id="labelFancyLabel">Etiqueta: </label>
                                        <input type="text" id="inputFancyLabel" name="fname">
                                </div>
                        </form>
                </div>

                <div id="containerFancyButtonFormLabel">
                        <input type="button" id="CancelarButtonFancyLabel" value="Cancelar">
                        <input type="button" id="GuardarButtonFancyLabel" value="Guardar">
                </div>
        </div>

</div>


<div class="divFancyGraphic" style="display: none;">

        <div id="containerGraphic">
                <div id="containerTittleFancyGraphic">
                        <label id="labelFancyGraphic"> Analizador Grafico de Red </label>
                </div>

                <div id="containerCanvaGraphic">
                        <canvas id="graphic"></canvas>
                </div>

                <div id="containerFancyInfoGraphic">
                        <table id="tableInfo">

                                

                                
                                <tr>
                                        <th class="labelparameterMeter" colspan="2">MÉTRICAS DE DESEMPEÑO</th>
                                </tr>
                                <tr>
                                        <th class="labelparameter">Modo de Operación:</th>
                                        <th id="modo_op" class="parameter"> </th>
                                </tr>
                                <tr>
                                        <th class="labelparameter">Protocolo:</th>
                                        <th id="protocol" class="parameter"></th>
                                </tr>
                                <tr>
                                        <th class="labelparameter">Duración:</th>
                                        <th id="duration" class="parameter"></th>
                                </tr>
                                <tr>
                                        <th class="labelparameter">Tamaño Bloque:</th>
                                        <th id="size_block" class="parameter"></th>
                                </tr>
                                <tr>
                                        <th class="labelparameter">Bloques:</th>
                                        <th id="bloque" class="parameter"></th>
                                </tr>
                                <tr>
                                        <!--TCP_mss-->
                                        <th class="labelparameter">TCP MSS:</th>
                                        <th id="tcp_mss" class="parameter"></th>
                                </tr>
                                <tr>
                                        <!--snd_buffer-->
                                        <th class="labelparameter">Buffer de Envío:</th>
                                        <th id="snd_buffer" class="parameter"></th>
                                </tr>
                                <tr>
                                        <!--rcv_buffer-->
                                        <th class="labelparameter">Buffer de Recepción:</th>
                                        <th id="rcv_buffer" class="parameter"></th>
                                </tr>
                                <tr>
                                        <th class="labelparameter">Total Bytes:</th>
                                        <th id="total_bytes" class="parameter"></th>
                                </tr>
                                <tr>
                                        <th class="labelparameter">Prom Total Bytes:</th>
                                        <th id="prom_tbytes" class="parameter"></th>
                                </tr>
                                <tr>
                                        <th class="labelparameter">Prom Bit por Seg:</th>
                                        <th id="prom_bit" class="parameter"></th>
                                </tr>
                                <tr>
                                        <th class="labelparameter">Prom SND CWND:</th>
                                        <th id="prom_sndcwnd" class="parameter"></th>
                                </tr>
                                <tr>
                                        <th class="labelparameter">Prom RTT:</th>
                                        <th id="prom_rtt" class="parameter"></th>
                                </tr>
                                <tr>
                                        <th class="labelparameter">Prom Retransmitidos:</th>
                                        <th id="prom_rtx" class="parameter"></th>
                                </tr>
                                <tr>
                                        <th class="labelparameter">Prom RTTVAR:</th>
                                        <th id="prom_rttvar" class="parameter"></th>
                                </tr>
                                <tr>
                                        <th class="labelparameter">Prom PMTU:</th>
                                        <th id="prom_pmtu" class="parameter"></th>
                                </tr>

                        </table>
                </div>

        </div>






</div>

<div class="divTrafficHost" style="display: none;">

        <div id="containerTrafficHost">
                <h2 id="tittleHostTraffic">ANALIZADOR DE TRAFICO ESPECIFICO</h2>
                <h3 id="idenHost">HOST h</h3>
                <textarea id="txtAreaTrafficSpecific">
                        prueba
                </textarea>
        </div>

</div>

<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<script src="{% static 'js/alambric_emulator.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js'%}"></script>
<script src="{% static 'js/Chart.js' %}"></script>

{% endblock content %}