{% extends 'template.html' %}
{% load static %}
{% block link_css %}<link rel="stylesheet" href="{% static 'css/home.css' %}"> <link rel="stylesheet" href="{% static 'css/header.css' %}">{% endblock link_css %}
{% block script_js %}<script src="{% static 'js/hamburguer_menu.js' %}"></script>{% endblock script_js %}
{% block title %} Home {% endblock title %}

{% block content %}
<div class="container">
    <section class="tablecontainer">
        <table class="tableHome" id="emulationtable">
            <tr>
                <th>Nombre</th>
                <th>Tipo de Emulación</th>
                <th>Estado</th>
                <th>Última Modificación</th>
                <th>Acciones</th>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>Smith</td>
                <td>Smith</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
                <td>Smith</td>
                <td>Smith</td>
            </tr>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>80</td>
                <td>Smith</td>
                <td>Smith</td>
            </tr>
        </table>
    </section>
</div>
{% endblock content %}