{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/jQuery.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>

    <title>Inicio</title>


</head>

<body>


    <div class='box'>
        <div class='box-form'>
            <div class='box-login-tab'></div>
            <div class='box-login-title'>
                <div class='i i-login'></div>
                <h2>Telco 2.0</h2>
            </div>
            <div class='box-login'>
                <div class='fieldset-body' id='login_form'>
                    <button onclick="openLoginInfo();" class='b b-form i i-more' title='Más Información'></button>

                    <div id="container-environment">

                        <div id="div-alambric">

                            <label id="env-description" for='alambric'>Entornos Alámbricos</label>
                            <div id="container-mn">
                                <button title="Mininet" href="{% url 'alambric_emulator' %} type="button" href="#" id="button-env"
                                    class="btn-mn"><img src="{% static 'img/icon-mn.png' %}" id="panel_img"
                                        alt="" width="70%" height="70%">
                                </button>
                            </div>
                            <div id="container-mx">
                                <button title="Maxinet" type="button" href="#" id="button-env"
                                    class="btn-enviroment"><img src="{% static 'img/icon-mx.png' %}" id="panel_img"
                                        alt="" width="70%" height="70%">
                                </button>
                            </div>
                        </div>

                        <div id="div-inalambric">
                            <label id="env-description" for='pass'>Entornos Inalámbricos</label>
                            <div id="container-mw">
                                <button title="Mininet-Wifi" type="button" href="#" id="button-env"
                                    class="btn-enviroment"><img src="{% static 'img/icon-mnw.png' %}" id="panel_img"
                                        alt="" width="70%" height="70%">
                                </button>
                            </div>
                            <div id="container-iot">
                                <button title="Mininet-IOT" type="button" href="#" id="button-env"
                                    class="btn-enviroment"><img src="{% static 'img/icon-iot.png' %}" id="panel_img"
                                        alt="" width="70%" height="70%">
                                </button>
                            </div>

                        </div>

                    </div>
                    <div id="start">
                        <!--El form lo uso para dar enlace al submit-->

                        <input type='submit' id='do_login' value='INICIAR' title='Iniciar' />

                    </div>
                </div>
            </div>
        </div>
        <div class='box-info'>
            <p><button onclick="closeLoginInfo();" class='b b-info i i-left' title='Cerrar - Ayuda'></button>
            <h3>¿Necesita Ayuda?</h3>
            </p>
            <div class='line-wh'></div>
            <button onclick="" class='b-support' title='Recuperar Contraseña'> ¿Olvidó su Contraseña?</button>
            <button onclick="" class='b-support' title='Contactar a Soporte'> Contactar a Soporte</button>
            <div class='line-wh'></div>
            <button onclick="" class='b-cta' title='Cree una Cuenta'> CREE UNA CUENTA</button>
        </div>
    </div>


    <div class='icon-credits'> Telco 2.0 - <a title="Freepik">Entorno de Emulación vSDN - </a>FIET
    </div>


</body>

</html>